<section class="award-container" ng-class="{'view1': !Order.BudgetAccountID, 'view2': Order.BudgetAccountID, 'view3': Order.BudgetAccountID && Order.Status != 'Open'}">
    <div class="col-xs-12 col-md-5 col-md-offset-6 col-lg-3 col-lg-offset-8">
        <div class="entry-container">
            <img class="img-responsive" src="css/images/BCBSNC.jpg" />
            <!--view 1-->
            <div class="award-code" ng-show="!Order.BudgetAccountID">
                <form name="giftcard_redeem" ng-submit="redeemGiftCard()">
                    <h4>You're a winner!</h4>
                    <span>Enter the award code found in your email to see which prize you've won.</span>
                    <div class="form-group view-form-icon">
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="giftcard.Code" placeholder="Award Code" autocomplete="off" required></input>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <loadingindicator title="Please wait while we lookup your award code" ng-show="gettingAward" />
            <!--view 1-->

            <!--view 2a-->
            <div class="award-product" ng-show="Order.BudgetAccountID">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <h4>Congratulations!</h4>
                    <p>You're the winner of a <strong>{{LineItem.Product.Name}}</strong>. It's your reward for choosing to Live Fearless.</p>
                    <!--<p ng-bind-html="LineItem.Product.Description"></p>-->
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <figure>
                        <img class="product-image-large img-responsive" ng-src="{{LineItem.Product.LargeImageUrl}}" />
                    </figure>
                </div>
                <hr width="100%" height="20" style="border-color: transparent;">
            </div>
            <!--view 2a-->

            <!--view 2b-->
            <div class="award-address" ng-show="Order.BudgetAccountID && Order.Status != 'Open'">
               Please enter your delivery address here:
                <addressinput user="user" address="Order.ShipAddress" />
            </div>
            <!--view 2b-->

            <!--view 2c-->
            <div class="award-confirmation" ng-show="Order.Status == 'Open'">
                <p class="ng-binding">Thank you. An email to confirm your prize delivery will be sent to you at {{user.Email}}.</p>
                <h4>What does it mean to Live Fearless?</h4>
                <p>It means working hard, playing hard, taking it all in and making the most of life. Being the best you.</p>
                <p>To learn more, and enter to win more prizes, visit <a href="//LiveFearlessNC.com" target="_blank">LiveFearlessNC.com</a>.</p>
                <strong>Be bold. Be brave. Be strong. Live Fearless.</strong>
            </div>
            <!--view 2c-->

            <!--errors-->
            <div ng-show="error" class="error">
                {{error}}
            </div>
            <!--errors-->
        </div>
    </div>
</section>