<div id="address_edit">
    <form name="addressEdit">
        <div class="row">
            <div class="col-xs-12 col-sm-6 view-form-icon">
                <div ng-hide="true">
                    <label class="required">Address Name</label>
                    <input name="addressname" class="form-control" type="text" ng-model="address.AddressName" placeholder="Address Name" autocomplete="off" required />
                    <i class="fa fa-edit"></i>
                </div>
                <div>
                    <label class="required" ng-class="{required: address.IsBilling}">First Name</label>
                    <input name="firstname" class="form-control" type="text" ng-model="address.FirstName" placeholder="First Name" autocomplete="off" required />
                    <i class="fa fa-user"></i>
                </div>
                <div>
                    <label class="required" ng-class="{required: address.IsBilling}">Last Name</label>
                    <input name="lastname" class="form-control" type="text" ng-model="address.LastName" placeholder="Last Name" autocomplete="off" required />
                    <i class="fa fa-user"></i>
                </div>
                <div>
                    <label class="required">Phone</label>
                    <input name="phone" class="form-control" type="text" ng-model="address.Phone" autocomplete="off" ui-mask="(999)999-9999" required />
                    <i class="fa fa-phone"></i>
                </div>
                <div>
                    <label class="required">Email</label>
                    <input name="Email" class="form-control" type="email" ng-model="user.Email" placeholder="Email" autocomplete="off" required />
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 view-form-icon">
                <div>
                    <label class="required">Address Line 1</label>
                    <input ng-blur="setAddressName()" name="street1" class="form-control" type="text" ng-model="address.Street1" placeholder="Address Line 1" autocomplete="off" required />
                    <i class="fa fa-map-marker"></i>
                </div>
                <div>
                    <label style="color:black;" ng-show="address.Street2">Address Line 2</label>
                    <input ng-blur="setAddressName()" name="street2" class="form-control" type="text" ng-model="address.Street2" placeholder="Address Line 2" autocomplete="off" />
                    <i class="fa fa-map-marker"></i>
                </div>
                <div>
                    <label class="required">City</label>
                    <input name="city" class="form-control" type="text" ng-model="address.City" placeholder="City" autocomplete="off" required />
                    <i class="fa fa-map-marker"></i>
                </div>
                <div ng-show="!hasStates()">
                    <label ng-class="{required: !hasStates}">State</label>
                    <input ng-show="!hasStates()" class="form-control" type="text" ng-model="address.State" placeholder="State" autocomplete="off" ng-required="!hasStates()" />
                    <i class="fa fa-map-marker"></i>
                </div>
                <div ng-show="hasStates()" ng-class="{'view-form-select': !address.State, '': address.State }">
                    <label ng-class="{required: hasStates}">State</label>
                    <select ng-show="hasStates()" class="form-control" ng-options="state.value as state.label for state in states | filter:country" ng-model="address.State" placeholder="State" ng-required="hasStates()">
                    </select>
                    <i class="fa fa-map-marker"></i>
                </div>
                <div>
                    <label ng-class="{required: hasStates}">Zip</label>
                    <input name="zip" class="form-control" type="text" ng-model="address.Zip" placeholder="Zip" autocomplete="off" ng-required="hasStates()" />
                    <i class="fa fa-map-marker"></i>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="panel-footer">
                <span class="alert alert-warning" ng-show="objectExists">An address with that name already exists. Please specify another name</span><br />
                <button ng-if="user.Permissions.contains('CreateShipToAddress')" class="btn btn-primary pull-right" type="button" ng-click="setEmail();save();" ng-disabled="addressEdit.$invalid || ($parent.$parent.LineItem.Specs.Color.Value == null && $parent.$parent.LineItem.Product.Name == 'Polo Shirt')" id="451_btn_user">
                    <i ng-show="addressEdit.$invalid || ($parent.$parent.LineItem.Specs.Color.Value == null && $parent.$parent.LineItem.Product.Name == 'Polo Shirt')" class="fa fa-warning"></i>
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>